.app {
  font-family: Arial, sans-serrif;
  header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  nav {
    margin-top: 1rem;
    a {
      color: #61dafb;
      margin: 0 0.5rem;
      text-decoration: none;
    }
  }

  .event_card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 300px;
    border-radius: 5px;
  }


  main {
    padding: 2rem;
    text-align: center;
  }
}